
{% for host in hosts %}

{% if host == 'CORE-R1' %}
int loopback 1
ip address 1.1.1.1 255.255.255.0

{% elif host == 'CORE-R2' %}
int loopback 2
ip address 2.2.2.2 255.255.255.0


{% endif %}
{% endfor %}