
{% if mitigate == 'divert_all' %}
router bgp 18190
neighbor 172.17.32.161 distribute-list DIVERT_ALL_INCAPSULA out
neighbor 172.17.160.9 distribute-list DIVERT_ALL_INCAPSULA out
neighbor 203.177.110.117 distribute-list DIVERT_ALL_ISP out
neighbor 121.58.215.185 distribute-list DIVERT_ALL_ISP out
do clear ip bgp * soft out
{% elif mitigate == 'no_divert_all' %}
router bgp 18190
neighbor 172.17.32.161 distribute-list DIVERT out
neighbor 172.17.160.9 distribute-list DIVERT out
neighbor 203.177.110.117 distribute-list NORMAL out
neighbor 121.58.215.185 distribute-list NORMAL out
do clear ip bgp * soft out
{% elif mitigate == 'divert' %}
ip access-list extended NORMAL
no permit ip any any
deny ip {{net.ip}} {{net.hostmask}} any
permit ip any any

ip access-list extended DIVERT
no deny ip any any
permit ip {{net.ip}} {{net.hostmask}} any
deny ip any any
do clear ip bgp * soft out
{% elif mitigate == 'no_divert' %}
ip access-list extended NORMAL
no permit ip any any
no deny ip {{net.ip}} {{net.hostmask}} any
permit ip any any

ip access-list extended DIVERT
no deny ip any any
no permit ip {{net.ip}} {{net.hostmask}} any
deny ip any any
do clear ip bgp * soft out
{% endif %}